@model DealDouble.Entity.Auction
<h1>Are you sure to delete this Auction</h1>

<form method="post">
    <input type="hidden" name="ID" value="@Model.ID" />
    <button>Yes</button>
</form>
<form method="get" action="/Auctions/Index">
    <button>No</button>
</form>
