@model DealDouble.Entity.Auction
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="container">
    <div class="row">
        <div class="col-md-5 jumbotron">
            <img src="cinqueterre.jpg" class="rounded" alt="Cinque Terre" style="width:100% ; height:400px;">
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5 jumbotron">
            <h4>@Model.Title</h4>
            <span>$@Model.ActualAmount</span>
            <p class="lead">@Model.Description</p>
            <span>**** 4Star</span>
        </div>
    </div>
</div>

<br />
<div class="container jumbotron" style="border: 1px solid crimson">
    <div class="row">
        <div class="col-md-12">
            <h3>Product Reviews</h3>
            <br />
            <h6>This Product is very good for Men And It is best quality of product This Product is very good for Men And It is best quality of product This Product is very good for Men And It is best quality of product </h6>
            
            <h5 style="color:crimson">
                Posted By Md Tabrez Alam On 14/8/2021
            </h5>
            <br />
            <h6>This Product is very good for Men And It is best quality of product This Product is very good for Men And It is best quality of product This Product is very good for Men And It is best quality of product </h6>
            <br />
            <h5 style="color:crimson">
                Posted By Md Tabrez Alam On 14/8/2021
            </h5>
           
            <h6>This Product is very good for Men And It is best quality of product This Product is very good for Men And It is best quality of product This Product is very good for Men And It is best quality of product </h6>
            <br />
            <h5 style="color:crimson">
                Posted By Md Tabrez Alam On 14/8/2021
            </h5>
           
            <h6>This Product is very good for Men And It is best quality of product This Product is very good for Men And It is best quality of product This Product is very good for Men And It is best quality of product </h6>
            <br />
            <h5 style="color:crimson">
                Posted By Md Tabrez Alam On 14/8/2021
            </h5>
            
            <h6>This Product is very good for Men And It is best quality of product This Product is very good for Men And It is best quality of product This Product is very good for Men And It is best quality of product </h6>
            <br />
            <h5 style="color:crimson">
                Posted By Md Tabrez Alam On 14/8/2021
            </h5>

            <br />
            <button class="btn btn-success">Leave a Review</button>
        </div>
      
    </div>
</div>




